        body{
            margin: 0;
            border: 0;
            font-family: Poppins,sans-serif;
        }
        .main{
            background-color: black;
            height: 100vh; /* Full viewport height */
            display: flex;
            justify-content: center; /* Center content horizontally */
            align-items: center; /* Center content vertically */
            color: white; /* Text color */
            font-size: 24px
        }
