        body{
            margin: 0;
            border: 0;
            font-family: Poppins,sans-serif;
        }
        .main{
            background-color: black;
            height: 100vh; /* Full viewport height */
            display: flex;
            justify-content: center; /* Center content horizontally */
            align-items: center; /* Center content vertically */
            color: white; /* Text color */
        }
        .inside{
            display: inline-block;
            padding: 30px;
            width: 600px;
            height: 450px;
            border-color: white;
            border-radius: 5px;
            border-width: 2px;
            border-style: solid;
        }
